 
 .card{
   
  color:#282c34;
  height: 200px;
  width:500px;
  background: #fff;
  overflow-y: hidden;
  
  margin-bottom:30px;
  

 }
 .card>.title{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size:28px;
 }
 .card>.content{
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-size:20px;
  cursor: pointer;
 }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
  
    transform: scale(1.1,1.1);
    

  }